{% macro render_field_with_errors(field) %}
    <div class="field">
        {% if field.type == 'BooleanField' %}
            {{ field.label }} {{ field(**kwargs)|safe }}
        {% elif field.type == 'SubmitField' %}
            {{ field.label }} {{ field(class='btn btn-primary',**kwargs)|safe }}
        {% else %}
            {{ field.label }} {{ field(class='form-control',**kwargs)|safe }}
        {% endif %}

        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_field(field) %}
    <div class="field">{{ field(**kwargs)|safe }}</div>
{% endmacro %}