amqp==5.3.1
Babel==2.17.0
bcrypt==4.3.0
bleach==6.2.0
blinker==1.9.0
celery==5.5.3
cffi==1.17.1
click==8.2.1
cryptography==45.0.5
email-validator==2.2.0
Flask==3.1.1
Flask-Caching==2.3.1
Flask-Dance==7.1.0
Flask-DebugToolbar==0.16.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Script==2.0.6
Flask-Security-Too==5.6.2
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.4
Mako==1.3.10
MarkupSafe==3.0.2
passlib==1.7.4
Pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-editor==1.0.4
pytz==2025.2
qrcode==8.2
redis==6.2.0
six==1.17.0
speaklater==1.3
SQLAlchemy==2.0.41
# uWSGI not supported on Windows - use 'flask run' for development
vine==5.1.0
Werkzeug==3.1.3
webauthn==2.6.0
WTForms==3.2.1
orjson==3.10.18
flask-babel==4.0.0
rich==14.0.0
setuptools>=80.9.0