{% extends 'layout.html' %} {% block css %} {% endblock %} {% block sidebar %}
{% endblock %} {% block layout_classes %} align-center {% endblock %}
{% block content %}

    <v-card class="ma-2 mt-12 w-100 h-100">
        <v-toolbar>
            <v-toolbar-title>Users Dashboard</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>

            <v-data-table :items="items" :headers="headers">

                <template v-slot:top>
                    <v-toolbar class="mb-4" dense elevation="0">
                        <v-btn @click="createItem" size="small" variant="elevated" color="primary"> Add User</v-btn>
                    </v-toolbar>
                </template>
                <template v-slot:item.roles="{ item }">
                    <v-chip v-for="role in item.roles" :key="role.id" color="primary" class="mr-2">
                        ${role.name}
                    </v-chip>

                </template>

                <template v-slot:item.actions="{ item }">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>

            </v-data-table>


        </v-card-text>
    </v-card>


    <!--Edit Dialog-->
    <v-dialog v-model="edialog" width="660">
        <v-card v-if="edialog" class="pa-6">
            <v-sheet class="d-flex justify-end">
                <v-btn @click="edialog=false" size="small" icon="mdi-close" variant="text"></v-btn>
            </v-sheet>
            <v-card-title>User Editor</v-card-title>

            <v-card-text>
                <!-- fields go here -->
                <v-text-field label="Name" v-model="eitem.name"></v-text-field>
                <v-text-field v-model="eitem.email" type="email" label="Email"></v-text-field>
                <v-text-field v-model="eitem.username" type="email" label="Username"></v-text-field>


                <v-text-field placeholder="Password" type="password" v-model="eitem.password"></v-text-field>

                <v-select label="Roles"
                          item-title="name"
                          multiple
                          v-model="eitem.roles"
                          return-object
                          chips
                          clearable
                          :items="roles"
                ></v-select>

                <v-switch color="primary" label="Active" v-model="eitem.active"></v-switch>

            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="elevated" @click="saveItem">Save</v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>


    <v-snackbar size="small" class="d-flex" v-model="snackBar" rounded="pill" elevation="25">

        ${snackMessage}
        <template v-slot:actions>
            <v-btn @click="snackBar=false" icon="mdi-close" class="ml-auto" variant="text" size="small"></v-btn>
        </template>
    </v-snackbar>


{% endblock %} {% block js %}

    <script type="application/json" id="roles-data">
    {{ roles|tojson|safe }}

    </script>

    <script>
        const {createApp, toRaw} = Vue;
        const {createVuetify} = Vuetify;

        const vuetify = createVuetify();

        window.app = createApp({
            data() {
                return {
                    errors: "",
                    snackBar: false,
                    snackMessage: "",
                    items: [],
                    itemsLength: 0,
                    drawer: true,

                    headers: [
                        {title: 'ID', value: 'id'},
                        {title: 'Name', value: 'name'},
                        {title: 'Username', value: 'username'},
                        {title: 'Email', value: 'email'},
                        {title: 'Roles', value: 'roles', sortable: false},
                        {title: 'Actions', value: 'actions', sortable: false}
                    ],
                    edialog: false,
                    eitem: {
                        id: "",
                        name: "",
                        email: "",
                        password: "",
                        roles: [],
                        active: true
                    },
                    roles: JSON.parse(document.querySelector('#roles-data').textContent)
                };
            },

            mounted() {
                this.refresh();
            },
            delimiters: ["${", "}"],

            methods: {

                showSnack(message) {
                    this.snackMessage = message;
                    this.snackBar = true;
                },

                refresh() {

                    axios.get(`/api/users`).then(res => {
                        this.items = res.data.items;
                        this.itemsLength = res.data.total;

                    });
                },
                createItem() {
                    this.edialog = true;
                    this.eitem = {};

                },

                editItem(item) {

                    this.eitem = toRaw(item);

                    this.$nextTick(() => {
                        this.edialog = true;
                    });

                },

                saveItem(item) {
                    if (this.eitem.id) {
                        // edit mode
                        axios.post(`/api/user/${this.eitem.id}`, {item: this.eitem}).then(res => {
                            this.showSnack(res.data?.message);
                            this.refresh();

                        }).catch(err => {

                            this.showSnack(err.response?.data);
                        });
                    } else {
                        // create mode
                        axios.post('/api/user/', {item: this.eitem}).then(res => {
                            this.showSnack(res.data?.message);
                            this.refresh();

                        }).catch(err => {
                            this.showSnack(err.response?.data)
                        });

                    }
                    this.edialog = false;

                },

                deleteItem(item) {
                    if (confirm('Are you sure?')) {
                        axios.delete(`/api/user/${item.id}`).then(res => {
                            this.showSnack(res.data?.message);
                            this.refresh();

                        }).catch(err => {
                            this.showSnack(err.response?.data);
                        });
                    }

                }
            }

        });

        app.use(vuetify).mount("#app");
    </script>
{% endblock %}
