html, body {
    height: 100%;
}

body {
    background: #ddd;
}

header {
    display: flex;
    background: #f9f9f9;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    margin: 0;

}

.main-nav {

}

.main-nav > * {

}

.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.sidebar {
    background: #000;
    color: #fff;
    padding: 35px;
    margin: 0;
}

.sidebar a {
    color: #fff;

}

div.content {
    background: #fff;
    width: 100%;
    padding: 35px;

}

.content h3 {
    margin: 20px 0 30px 0;
}
.main {

    background: #fff;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px, rgba(0, 0, 0, 0.08) 0px 8px 18px;
}

.register {
    text-align: center;

}

input[type="submit"] {
    margin-top: 10px;
}

/* navbar */

/* NAVBAR */
.navbar {
    width: 100%;
    display: flex;
    padding: 6px 35px;
    position: relative;
    align-items: center;
    z-index: 9;
    background-image: linear-gradient(#fff,#f3f2f2);
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar .navbar-nav {
    line-height: 52px;
    position: relative;
    z-index: 2;
}

.navbar .navbar-nav .nav-item {
    margin: 0 5px;
    padding: 0 5px;
    position: relative;
}

.navbar .navbar-nav .nav-item ul {
    width: 160px;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    background: #fff;
    text-align: left;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    z-index: 1000;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar .navbar-nav .nav-item ul:before {
    content: "";
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    top: -13px;
}

.navbar .navbar-nav .nav-item ul li {
    width: 100%;
    line-height: 36px;
    margin: 0;
    
    list-style: none;

}

.navbar .navbar-nav .nav-item ul li a {
    width: 100%;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 10px;
}

.navbar .navbar-nav .nav-item .nav-link:hover:before {
    width: 100%;
    background: #fff;
    transition: width .25s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.navbar .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
}


/* flash messages */

.messages {
    padding: 20px;
    position: relative;
    top:0;
    left: 0;
    right:0;
    background: rgba(243, 253, 91, 0.29);
    text-align: center;
    display: block;
}
.msg {
    font-style: italic;
    color: #222;
    margin: 8px 0;
}

/* user settings */

.profile-info {
    width: 100%;
    max-width: 380px;

}

.field {
    display: block;
    margin: 8px 0;
}

.profile-info label {
    display: block;
    font-size: 14px;
}

.profile-tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.profile-tabs a {
    display: inline-block;
    padding: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 0 4px;
}