{% extends 'layout.html' %}
{% block content %}
<v-app id="app">
    <v-container class="d-flex align-center justify-center">
        <v-card class="pa-5" width="600">
            <v-card-title>
                Change password
            </v-card-title>

            <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                {{ change_password_form.hidden_tag() }}

                <v-card-text>
                    <v-text-field required variant="underlined" label="Current Password" name="password" type="password"></v-text-field>
                    <v-text-field required variant="underlined" label="New Password" name="new_password" type="password"></v-text-field>
                    <v-text-field required variant="underlined" label="Confirm New Password" name="new_password_confirm" type="password"></v-text-field>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn variant="elevated" type="submit" color="primary">Change Password</v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-container>

    <v-snackbar absolute bottom v-model="snackBar">
        ${snackMessage}
        <v-btn text color="primary" @click.native="snackBar = false">Close</v-btn>
    </v-snackbar>
</v-app>
{% endblock %}

{% block js %}
<script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;
    const vuetify = createVuetify();

    const app = createApp({
        data() {
            return {
                menu: null,
                drawer: false,
                snackBar: false,
                snackMessage: '',
            };
        },
        methods: {
            showSnack(message) {
                this.snackMessage = message;
                this.snackBar = true;
            },
        },
        delimiters: ['${', '}']
    });

    app.use(vuetify).mount('#app');
</script>
{% endblock %}
