{% extends 'layout.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="strike-through-header">
                    <h3>Documentation</h3>
                </div>
                <div class="col-md-10 col-md-offset-1">


                    <h3>Prerequisites</h3>

                    <p>You will need Mongodb and Redis installed.</p>

                    <h3>Quickstart</h3>


<pre><code>$ git clone git@github.com:level09/enferno.git

$ cd enferno

$ virtualenv env --distribute --no-site-packages

$ source env/bin/activate

$ pip install -r requirements.txt</code></pre>


                    <p>Edit the settings.py and change the settings to suit your needs, specifically you can change
                        Flask security settings, security keys, Mongodb settings,and Flask mail.</p>

                    <p>to run the system, you can use a management command:
                    </p>


                    <pre><code>$ ./manage.py server</code></pre>
                    <h2>FAQ and How to:</h2>

                    <h4>How to customize the user registration/login ?</h4>
                    <p>If you follow the quickstart steps, the following URLs are automatically registered: </p>
<pre><code>/register
/login
/reset
/confirm
</code></pre>

                    <h3>Features</h3>

                    <ul>
                        <li>Flask based</li>
                        <li>Jasny Bootstrap on the frontend</li>
                        <li>Fully working user registration and authentication + user roles via Flask security and Flask
                            Principal
                        </li>
                        <li>Memory caching via Redis and Flask cache</li>
                        <li>Command line scripting via Flask Script</li>
                        <li>Automatic assets bundling and minification via Flask assets</li>
                        <li>Mongodb and Mongoengine ORM</li>
                        <li>Background tasks via Celery</li>
                        <li>Email integration via Flask Mail</li>
                        <li>Best practices by utilizing Flask blueprints and development/production configuration</li>
                    </ul>


                    <h3>License</h3>

                    <p>MIT licensed.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}