{% extends 'layout.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="strike-through-header">
                    <h3>Documentation</h3>
                </div>
                <div class="col-md-10 col-md-offset-1">



                    <h2>Prerequisites</h2>

                    <p>You will need Mongodb and Redis installed.</p>

                    <h2>Quickstart</h2>



<pre><code>$ git clone git@github.com:level09/enferno.git

    $ cd enferno

    $ virtualenv env --distribute --no-site-packages

    $ source env/bin/activate

    $ pip install -r requirements.txt
</code></pre>

                    <p>Edit the settings.py and change the settings to suit your needs, sepcifically you can change
                        Flask security settings, security keys, Mongodb settings,and Flask mail.</p>

                    <p>to run the system, you can use a management command:
                    </p>

<pre><code>$ ./manage.py server
</code></pre>

                    <h2>Features</h2>

                    <ul>
                        <li>Flask based</li>
                        <li>Jasny Bootstrap on the frontend</li>
                        <li>Fully working user registration and authentication + user roles via Flask security and Flask
                            Principal
                        </li>
                        <li>Memory caching via Redis and Flask cache</li>
                        <li>Command line scripting via Flask Script</li>
                        <li>Automatic assets bundling and minification via Flask assets</li>
                        <li>Mongodb and Mongoengine ORM</li>
                        <li>Background tasks via Celery</li>
                        <li>Email integration via Flask Mail</li>
                        <li>Best practices by utilizing Flask blueprints and development/production configuration</li>
                    </ul>


                    <h2>Inspiration &amp; Credits</h2>

                    <ul>
                        <li><code>Cookiecutter Flask &lt;https://github.com/sloria/cookiecutter-flask&gt;</code>_</li>
                        <li><code>Flask Security &lt;https://pythonhosted.org/Flask-Security/&gt;</code>_</li>
                        <li><code>Mongoengine &lt;http://mongoengine.org/&gt;</code>_</li>
                        <li><code>Jasny Bootstrap &lt;http://jasny.github.io/bootstrap/&gt;</code>_</li>
                        <li><code>Flask WTF &lt;https://flask-wtf.readthedocs.org/en/latest/&gt;</code>_</li>
                        <li><code>Celery Task Queue &lt;http://www.celeryproject.org/&gt;</code>_</li>
                        <li><code>Redis &lt;http://redis.io/&gt;</code>_</li>
                        <li><code>Flask Mail &lt;https://pythonhosted.org/flask-mail/&gt;</code>_</li>
                        <li><code>Flask Documentation &lt;http://flask.pocoo.org/docs/&gt;</code>_</li>
                        <li><code>Celery Task Queue &lt;http://www.celeryproject.org/&gt;</code>_</li>
                    </ul>


                    <h2>License</h2>

                    <p>MIT licensed.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}