{% extends 'layout.html' %}

{% block content %}

	<main class="cd-main-content">
		<div class="cd-container">
			<p>
				i can haz ipsum! want lorem! such aenean, such full, i can haz ipsum! plz ipsum! yes master doge, need design, wow. need design, wow! plz design, very layout. such swag. oh my lorem. many amet. much word! very dolor. wow, need design, oh my lorem. need design, very dolor. plz ipsum! oh my consectetur. so word. much mattis. need design, want swag! much ipsum! wow. need sit! txt me, wow, plz design, such full, go text! plz design, oh my elit. very dolor. wow, much word! want swag! much word! want lorem! very layout. very dolor. very dolor. very layout. plz word! very dolor.
			</p>

		</div>
	</main>

{% endblock %}