<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Project Enferno</title>
    <meta name="description" content="A Modern Framework for the Next Decade">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="og:title" content="Project Enferno"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/img/logo.jpg"/>
    <meta property="og:url" content="/"/>
    <meta property="og:description" content="A Modern Framework for the Next Decade"/>
    <meta property="og:site_name" content="Enferno.io"/>



    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}


    <script src="/static/js/modernizr.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<header class="cd-header">
    <div class="cd-logo">
        <a href="#0">
            <img width="45" src="/static/img/logo.svg" alt="Enferno">
        </a>
    </div>

    <nav>

    </nav>
    <!-- cd-nav -->

    <a class="cd-primary-nav-trigger" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
    </a> <!-- cd-primary-nav-trigger -->
</header>


<nav>
    <ul class="cd-primary-nav">


        <li><a href="#">Welcome</a></li>
        <li><a href="#">Add</a></li>
        <li><a href="#">Your</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Items</a></li>


    </ul>
</nav>

<section id="messages" class="section">
    <div class="container">
        <div class="row">
            {% include "security/_messages.html" %}

        </div>
    </div>
</section>





{% block content %}
{% endblock %}

<footer>

            <p>&copy;2014 powered by <a href="http://enferno.io" target="_blank">Enferno</a></p>



</footer>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block js %}{% endblock %}


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52789190-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
