@import 'compass/typography';
@import 'compass/css3';
@import 'compass/reset';

$font-family: 'Source Sans Pro', sans-serif;

// Compass Vertical Rhythms Settings
// ---------------------------------
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;

// Uses the `rem` unit for all vertical rhythm output
$rhythm-unit: "rem";

body {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #f0f0f0;
  padding-top: 70px;
}

@include establish-baseline;

main {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  background: white;
}

h3 {
  @include adjust-font-size-to(24px);
}

//Flask Security styling (user registeration/login etc ...)

h2 {
  @include adjust-font-size-to(28px);
  margin: 15px 0;
}

main {
  padding: 35px;
}

form {
  @include display-flex();
  flex-direction: column;

  input:not([type=submit]) {
    flex: 1; /* fluid width */
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
  }

}

.field {
  @include display-flex();
  justify-content: flex-end;
  flex: auto;
  margin: 10px;
  align-items: center;

  label {
    margin-right: 15px;
    text-align: right;
    width: 135px;

  }

  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;

    background: rgba(0, 0, 0, .02);
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  input[type="submit"] {
    padding: 5px 10px;
    background: #555;
    border: none;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
  }

}
