{% include 'login-layout.html' %}

{% block content %}

    <div class="layout">
        <aside class="sidebar">
            <nav class="side-nav">
                <a href="/dashboard/">Dashboard</a>
            </nav>

        </aside>

        <div class="content">
            <h3>Settings</h3>
            <div class="profile-tabs">
                <a href="/settings/">Profile Information</a>
                <a href="/change-password/" class="active">Change Password</a>

            </div>
            <div class="profile-info">
                <form action="" method="post">
                    <div class="field">
                        <label for="name">Old Password:</label>
                        <input required type="password" name="oldpass">
                    </div>

                    <div class="field">
                        <label for="email">New Password</label>
                        <input id="password" minlength="8" required name="password" type="password">

                    </div>

                    <div class="field">
                        <label for="email">Comfirm New Password</label>
                        <input id="confirm_password" required name="comfirm_password" type="password">

                    </div>
                    <div class="field">
                        <input type="submit" value="save">
                    </div>

                </form>

            </div>


        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
/* register a custom validator for the confirmation field */
hyperform.addValidator(
  document.getElementById('confirm_password'),
  function(element) {
    var valid = element.value === document.getElementById('password').value;
    element.setCustomValidity(
      valid?
        '' :
        'The password confirmation does not match the new password field.'
    );
    return valid;
  }
);

/* whenever the password field changes, revalidate the confirmation field,
 * too */
document.getElementById('password').addEventListener('keyup', function() {
  document.getElementById('confirm_password').reportValidity();
});

hyperform(window);
</script>


{% endblock %}