{% extends 'layout.html' %}
{% block content %}
    <v-card class="ma-auto pa-10 h-100 w-100">
        <v-card-text>
        </v-card-text>
        <v-card-text>
            <div class="text-h5 mb-3">Welcome, {{ current_user.username }}</div>
            Last login — {{ current_user.last_login_at.strftime('%B %-d, %Y at %-I:%M %p') if current_user.last_login_at else 'Never' }}
        </v-card-text>
        <v-card-actions class="justify-start">
            <v-btn color="error" href="/logout" variant="elevated">Logout</v-btn>
        </v-card-actions>
    </v-card>

{% endblock %}

{% block js %}
    <script>
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(config.vuetifyConfig);

        const app = createApp({
            data() {
                return {
                    menu: null,
                    drawer: true,
                };
            },
            delimiters: config.delimiters
        });

        app.use(vuetify).mount('#app');
    </script>
{% endblock %}
