{% extends 'layout.html' %}
{% block body_class %}
    home
{% endblock %}
{% block content %}
    <v-app id="app" class="d-flex align-center fill-height text-center">

            <v-card class="ma-auto pa-10" width="550">
                <v-card-title class="text-h4">Welcome To Enferno <span class="text-caption">v8</span></v-card-title>
                    <v-img :width="300" class="ma-auto" cover src="/static/img/enferno.svg"></v-img>
                <v-card-text class="mt-4">
                    Simplicity Meets Excellence: Your Next-Gen Web Framework.
                </v-card-text>

                <v-card-actions class="justify-center">
                    {% if not current_user.is_authenticated %}
                    <v-btn color="primary" href="/login" class="mx-2">Login</v-btn> or <v-btn color="primary" href="/register" class="mx-2">Create an Account</v-btn>
                    {%  endif %}
                </v-card-actions>

            </v-card>

    </v-app>
{% endblock %}

{% block js %}
    <script>
        const {createApp} = Vue;
        const {createVuetify} = Vuetify;
        const vuetify = createVuetify(config.vuetifyConfig);

        const app = createApp({
            data() {
                return {
                    drawer: false,
                    snackBar: false,
                    snackMessage: '',
                    menu: null,
                };
            },
            methods: {
                showSnack(message) {
                    this.snackMessage = message;
                    this.snackBar = true;
                },
            },
            delimiters: config.delimiters
        });

        app.use(vuetify).mount('#app');
    </script>
{% endblock %}
