<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Project Enferno</title>
    <meta name="description" content="A framework for the next decade">
    <meta name="author" content="Enferno">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicons/favicon-48x48.png">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="/static/favicons/apple-touch-icon-1024x1024.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/static/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/favicons/apple-touch-icon-precomposed.png">
    <link rel="manifest" href="/static/favicons/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="msapplication-square70x70logo" content="/static/favicons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/static/favicons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/static/favicons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/static/favicons/mstile-310x310.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/static/favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/static/favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicons/android-chrome-512x512.png">

    {% block css %}{% endblock %}
</head>

<body>
{% block content %}

{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
