{% include 'login-layout.html' %}

{% block content %}

    <div class="layout">
        <aside class="sidebar">
            <nav class="side-nav">
                <a href="/dashboard/">Dashboard</a>
            </nav>

        </aside>

        <div class="content">
            <h3>Settings</h3>


            <div class="profile-tabs">
                <a href="/settings/">Profile Information</a>
                <a href="/change-password/">Change Password</a>

            </div>
            <div class="profile-info">
                <form action="" method="post">
                    <div class="field">
                        <label for="name">Name:</label>
                        <input type="text" name="name" value="{{ current_user.name if current_user.name }}">
                    </div>

                    <div class="field">
                        <label for="email">Email:</label>
                        <input name="email" type="email" disabled value="{{ current_user.email }}">

                    </div>
                    <div class="field">
                        <input type="submit" value="save">
                    </div>

                </form>

            </div>


        </div>

    </div>
{% endblock %}